<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.strategy-games</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
	<key>CFBundleDisplayName</key>
	<string>WinWarCS</string>
	<key>CFBundleIdentifier</key>
	<string>com.camongrel.WinWarCS</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
