<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="43e21018-daa1-4d39-8f0d-ef08220e4597" Publisher="CN=Henning" Version="1.1.0.1" />
  <Properties>
    <DisplayName>WinWarRT</DisplayName>
    <PublisherDisplayName>Henning</PublisherDisplayName>
    <Logo>Assets\warcraft-logo-store.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WinWarRT.App">
      <m2:VisualElements DisplayName="WarCraft for WindowsRT" Description="WinWarRT - WarCraft for WindowsRT" BackgroundColor="#7F0000" ForegroundText="light" Square150x150Logo="Assets\warcraft-logo-square.png" Square30x30Logo="Assets\warcraft-logo-square-mini.png">
        <m2:DefaultTile Wide310x150Logo="Assets\warcraft-logo-wide.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen Image="Assets\warcraft-logo.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>