<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="43e21018-daa1-4d39-8f0d-ef08220e4597" Publisher="CN=Henning" Version="1.0.0.1" />
  <Properties>
    <DisplayName>WinWarRT</DisplayName>
    <PublisherDisplayName>Henning</PublisherDisplayName>
    <Logo>Assets\warcraft-logo-store.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WinWarRT.App">
      <VisualElements DisplayName="WarCraft for WindowsRT" Logo="Assets\warcraft-logo-square.png" SmallLogo="Assets\warcraft-logo-square-mini.png" Description="WinWarRT - WarCraft for WindowsRT" ForegroundText="light" BackgroundColor="#7F0000">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\warcraft-logo-wide.png" />
        <SplashScreen Image="Assets\warcraft-logo.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>